.*
*~
*.orig
*.tmp
*.log
docs/
examples/results/
test-reports/

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o 
*.so 

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.tgz
*.gz 
*.iso
*.jar
*.rar
*.tar
*.zip

# Package Files #
#################
*.jar
*.war
*.ear
